.card-div{
    border: 1px solid #ddd;
    background-color: #fff;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-bottom: 2px solid #0db7c4;

}
.card-div:hover {
    /* transform: scale(1.05); */
    transform: translateY(-10px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }



